
body{
background-color: rgb(250, 225, 0);
border: 2px solid rgb(253, 8, 8);
padding: 30px;
}

h1{
color: black;
font-family: fantasy;
font-size: medium;
}

p{
    color: white;
    font-family: cursive;
    font-size: large;  

}

.activity{

    color: red;
}
